*{
    margin: 0;
    padding: 0;
    box-sizing:0;
}
.navbar-wrapper{
    background-color: rgb(231, 221, 209);
    border: 0 auto;
}
.resume{
    font-family: Arial;
}
.navbar-main{
    
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 5px; 
}
.main-container{
    max-width: 1200px;
    margin: 0 auto;
    min-height: 672px;
    
}


.group-photo2{
   display: block;
   margin: auto;
}
.bangla-img{
    background-image: url(../assets/Hero-bg.png);
    max-width: 1200px;
    margin: 0 auto;
    min-height: 600px;
}
.hero-title{
    text-align: center;
   font-size: 30px;

}
.bangla-btn{
    background-color: black;
    color: azure;
    padding: 2px 12px;
    max-width: 260px;
    max-height: 70px;

}
.bangla2{
    max-width: 1200px;
    
    min-height: 1000px;
    margin: 0 auto;
    background-color: aliceblue;
    word-spacing: 2px;
    text-align: center;
    padding: 60px;

}
.development{
    text-align: center;
    justify-content: space-between;
    
}
.left-content1{
    text-align: left;
    float: left;
    justify-content: space-between;
    

}
.bangla-img1{
    
    width: 20%;
   
}
.bangla-btn1{
    background-color:white;
    color: black;
    padding: 2px 12px;
    max-width: 260px;
    max-height: 70px;
}



